<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>macroCategory</key>
		<string>Bokou</string>
		<key>modeid</key>
		<string>ModeKitai</string>
		<key>macroid</key>
		<string>HokyuKikan</string>
		<key>macroName</key>
		<string>補給旗艦</string>
		<key>macroDispState</key>
		<true/>
		<key>macroOperation</key>
		<array>
			<dict>
				<key>repeat</key>
				<integer>0</integer>
				<key>isClick</key>
				<true/>
				<key>pointid</key>
				<string>PMainBokouHokyu</string>
				<key>waitsec</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>repeat</key>
				<integer>0</integer>
				<key>isClick</key>
				<true/>
				<key>pointid</key>
				<string>PHokyuHokyuCkno1</string>
				<key>waitsec</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>repeat</key>
				<integer>0</integer>
				<key>isClick</key>
				<true/>
				<key>pointid</key>
				<string>PHokyuHokyuHkall</string>
				<key>waitsec</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>repeat</key>
				<integer>0</integer>
				<key>isClick</key>
				<true/>
				<key>pointid</key>
				<string>PSmenuComonKshou</string>
				<key>waitsec</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>repeat</key>
				<integer>0</integer>
				<key>isClick</key>
				<true/>
				<key>pointid</key>
				<string>PKoshoKoshoKitai</string>
				<key>waitsec</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>repeat</key>
				<integer>0</integer>
				<key>isClick</key>
				<true/>
				<key>pointid</key>
				<string>PKoshoKitaiID01</string>
				<key>waitsec</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>repeat</key>
				<integer>0</integer>
				<key>isClick</key>
				<false/>
				<key>pointid</key>
				<string>PKoshoKitaiKitai</string>
				<key>waitsec</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>macroKeybind</key>
		<string>@of</string>
	</dict>
	<dict>
		<key>macroCategory</key>
		<string>Bokou</string>
		<key>modeid</key>
		<string>ModeKitai</string>
		<key>macroid</key>
		<string>HokyuKtai1</string>
		<key>macroName</key>
		<string>補給第1艦隊</string>
		<key>macroDispState</key>
		<true/>
		<key>macroOperation</key>
		<array>
			<dict>
				<key>repeat</key>
				<integer>0</integer>
				<key>isClick</key>
				<true/>
				<key>pointid</key>
				<string>PMainBokouHokyu</string>
				<key>waitsec</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>repeat</key>
				<integer>0</integer>
				<key>isClick</key>
				<true/>
				<key>pointid</key>
				<string>PHokyuHokyuCkall</string>
				<key>waitsec</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>repeat</key>
				<integer>0</integer>
				<key>isClick</key>
				<true/>
				<key>pointid</key>
				<string>PSmenuComonHnsei</string>
				<key>waitsec</key>
				<integer>1</integer>
			</dict>
		</array>
		<key>macroKeybind</key>
		<string>@o1</string>
	</dict>
    <dict>
        <key>macroCategory</key>
        <string>Bokou</string>
        <key>modeid</key>
        <string>ModeKitai</string>
        <key>macroid</key>
        <string>HokyuKtai2</string>
        <key>macroName</key>
        <string>補給第2艦隊</string>
        <key>macroDispState</key>
        <true/>
        <key>macroOperation</key>
        <array>
            <dict>
                <key>repeat</key>
                <integer>0</integer>
                <key>isClick</key>
                <true/>
                <key>pointid</key>
                <string>PMainBokouHokyu</string>
                <key>waitsec</key>
                <integer>2</integer>
            </dict>
            <dict>
                <key>repeat</key>
                <integer>0</integer>
                <key>isClick</key>
                <true/>
                <key>pointid</key>
                <string>PHokyuHokyuKtai2</string>
                <key>waitsec</key>
                <integer>1</integer>
            </dict>
            <dict>
                <key>repeat</key>
                <integer>0</integer>
                <key>isClick</key>
                <true/>
                <key>pointid</key>
                <string>PHokyuHokyuCkall</string>
                <key>waitsec</key>
                <integer>1</integer>
            </dict>
            <dict>
                <key>repeat</key>
                <integer>0</integer>
                <key>isClick</key>
                <true/>
                <key>pointid</key>
                <string>PSmenuComonHnsei</string>
                <key>waitsec</key>
                <integer>1</integer>
            </dict>
        </array>
        <key>macroKeybind</key>
        <string>@o2</string>
    </dict>
    <dict>
        <key>macroCategory</key>
        <string>Bokou</string>
        <key>modeid</key>
        <string>ModeKitai</string>
        <key>macroid</key>
        <string>HokyuKtai3</string>
        <key>macroName</key>
        <string>補給第3艦隊</string>
        <key>macroDispState</key>
        <true/>
        <key>macroOperation</key>
        <array>
            <dict>
                <key>repeat</key>
                <integer>0</integer>
                <key>isClick</key>
                <true/>
                <key>pointid</key>
                <string>PMainBokouHokyu</string>
                <key>waitsec</key>
                <integer>2</integer>
            </dict>
            <dict>
                <key>repeat</key>
                <integer>0</integer>
                <key>isClick</key>
                <true/>
                <key>pointid</key>
                <string>PHokyuHokyuKtai3</string>
                <key>waitsec</key>
                <integer>1</integer>
            </dict>
            <dict>
                <key>repeat</key>
                <integer>0</integer>
                <key>isClick</key>
                <true/>
                <key>pointid</key>
                <string>PHokyuHokyuCkall</string>
                <key>waitsec</key>
                <integer>1</integer>
            </dict>
            <dict>
                <key>repeat</key>
                <integer>0</integer>
                <key>isClick</key>
                <true/>
                <key>pointid</key>
                <string>PSmenuComonHnsei</string>
                <key>waitsec</key>
                <integer>1</integer>
            </dict>
        </array>
        <key>macroKeybind</key>
        <string>@o3</string>
    </dict>
    <dict>
        <key>macroCategory</key>
        <string>Bokou</string>
        <key>modeid</key>
        <string>ModeKitai</string>
        <key>macroid</key>
        <string>HokyuKtai4</string>
        <key>macroName</key>
        <string>補給第4艦隊</string>
        <key>macroDispState</key>
        <true/>
        <key>macroOperation</key>
        <array>
            <dict>
                <key>repeat</key>
                <integer>0</integer>
                <key>isClick</key>
                <true/>
                <key>pointid</key>
                <string>PMainBokouHokyu</string>
                <key>waitsec</key>
                <integer>2</integer>
            </dict>
            <dict>
                <key>repeat</key>
                <integer>0</integer>
                <key>isClick</key>
                <true/>
                <key>pointid</key>
                <string>PHokyuHokyuKtai4</string>
                <key>waitsec</key>
                <integer>1</integer>
            </dict>
            <dict>
                <key>repeat</key>
                <integer>0</integer>
                <key>isClick</key>
                <true/>
                <key>pointid</key>
                <string>PHokyuHokyuCkall</string>
                <key>waitsec</key>
                <integer>1</integer>
            </dict>
            <dict>
                <key>repeat</key>
                <integer>0</integer>
                <key>isClick</key>
                <true/>
                <key>pointid</key>
                <string>PSmenuComonHnsei</string>
                <key>waitsec</key>
                <integer>1</integer>
            </dict>
        </array>
        <key>macroKeybind</key>
        <string>@o4</string>
    </dict>
	<dict>
		<key>macroCategory</key>
		<string>Bokou</string>
		<key>modeid</key>
		<string>ModeHnsei</string>
		<key>macroid</key>
		<string>HokyuZnkan</string>
		<key>macroName</key>
		<string>補給全艦</string>
		<key>macroDispState</key>
		<true/>
		<key>macroOperation</key>
		<array>
			<dict>
				<key>repeat</key>
				<integer>0</integer>
				<key>isClick</key>
				<true/>
				<key>pointid</key>
				<string>PMainBokouHokyu</string>
				<key>waitsec</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>repeat</key>
				<integer>0</integer>
				<key>isClick</key>
				<true/>
				<key>pointid</key>
				<string>PHokyuHokyuKtai2</string>
				<key>waitsec</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>repeat</key>
				<integer>0</integer>
				<key>isClick</key>
				<true/>
				<key>pointid</key>
				<string>PHokyuHokyuCkall</string>
				<key>waitsec</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>repeat</key>
				<integer>0</integer>
				<key>isClick</key>
				<true/>
				<key>pointid</key>
				<string>PHokyuHokyuKtai3</string>
				<key>waitsec</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>repeat</key>
				<integer>0</integer>
				<key>isClick</key>
				<true/>
				<key>pointid</key>
				<string>PHokyuHokyuCkall</string>
				<key>waitsec</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>repeat</key>
				<integer>0</integer>
				<key>isClick</key>
				<true/>
				<key>pointid</key>
				<string>PHokyuHokyuKtai4</string>
				<key>waitsec</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>repeat</key>
				<integer>0</integer>
				<key>isClick</key>
				<true/>
				<key>pointid</key>
				<string>PHokyuHokyuCkall</string>
				<key>waitsec</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>repeat</key>
				<integer>0</integer>
				<key>isClick</key>
				<true/>
				<key>pointid</key>
				<string>PSmenuComonHnsei</string>
				<key>waitsec</key>
				<integer>1</integer>
			</dict>
		</array>
		<key>macroKeybind</key>
		<string>@oa</string>
	</dict>
    <dict>
        <key>macroCategory</key>
        <string>Bokou</string>
        <key>modeid</key>
        <string>ModeHokyu</string>
        <key>macroid</key>
        <string>HokyuNinmu</string>
        <key>macroName</key>
        <string>補給任務</string>
        <key>macroDispState</key>
        <true/>
        <key>macroOperation</key>
        <array>
            <dict>
                <key>repeat</key>
                <integer>0</integer>
                <key>isClick</key>
                <true/>
                <key>pointid</key>
                <string>PHokyuHokyuCkno1</string>
                <key>waitsec</key>
                <integer>1</integer>
            </dict>
            <dict>
                <key>repeat</key>
                <integer>0</integer>
                <key>isClick</key>
                <true/>
                <key>pointid</key>
                <string>PHokyuHokyuHknry</string>
                <key>waitsec</key>
                <integer>1</integer>
            </dict>
            <dict>
                <key>repeat</key>
                <integer>0</integer>
                <key>isClick</key>
                <true/>
                <key>pointid</key>
                <string>PHokyuHokyuCkno1</string>
                <key>waitsec</key>
                <integer>1</integer>
            </dict>
            <dict>
                <key>repeat</key>
                <integer>0</integer>
                <key>isClick</key>
                <true/>
                <key>pointid</key>
                <string>PHokyuHokyuHkall</string>
                <key>waitsec</key>
                <integer>1</integer>
            </dict>
            <dict>
                <key>repeat</key>
                <integer>0</integer>
                <key>isClick</key>
                <true/>
                <key>pointid</key>
                <string>PHokyuHokyuCkno2</string>
                <key>waitsec</key>
                <integer>1</integer>
            </dict>
            <dict>
                <key>repeat</key>
                <integer>0</integer>
                <key>isClick</key>
                <true/>
                <key>pointid</key>
                <string>PHokyuHokyuHknry</string>
                <key>waitsec</key>
                <integer>1</integer>
            </dict>
            <dict>
                <key>repeat</key>
                <integer>0</integer>
                <key>isClick</key>
                <true/>
                <key>pointid</key>
                <string>PHokyuHokyuCkno2</string>
                <key>waitsec</key>
                <integer>1</integer>
            </dict>
            <dict>
                <key>repeat</key>
                <integer>0</integer>
                <key>isClick</key>
                <true/>
                <key>pointid</key>
                <string>PHokyuHokyuHkall</string>
                <key>waitsec</key>
                <integer>1</integer>
            </dict>
            <dict>
                <key>repeat</key>
                <integer>0</integer>
                <key>isClick</key>
                <true/>
                <key>pointid</key>
                <string>PHokyuHokyuCkno3</string>
                <key>waitsec</key>
                <integer>1</integer>
            </dict>
            <dict>
                <key>repeat</key>
                <integer>0</integer>
                <key>isClick</key>
                <true/>
                <key>pointid</key>
                <string>PHokyuHokyuHknry</string>
                <key>waitsec</key>
                <integer>1</integer>
            </dict>
            <dict>
                <key>repeat</key>
                <integer>0</integer>
                <key>isClick</key>
                <true/>
                <key>pointid</key>
                <string>PHokyuHokyuCkno3</string>
                <key>waitsec</key>
                <integer>1</integer>
            </dict>
            <dict>
                <key>repeat</key>
                <integer>0</integer>
                <key>isClick</key>
                <true/>
                <key>pointid</key>
                <string>PHokyuHokyuHkall</string>
                <key>waitsec</key>
                <integer>1</integer>
            </dict>
            <dict>
                <key>repeat</key>
                <integer>0</integer>
                <key>isClick</key>
                <true/>
                <key>pointid</key>
                <string>PHokyuHokyuCkno4</string>
                <key>waitsec</key>
                <integer>1</integer>
            </dict>
            <dict>
                <key>repeat</key>
                <integer>0</integer>
                <key>isClick</key>
                <true/>
                <key>pointid</key>
                <string>PHokyuHokyuHknry</string>
                <key>waitsec</key>
                <integer>1</integer>
            </dict>
            <dict>
                <key>repeat</key>
                <integer>0</integer>
                <key>isClick</key>
                <true/>
                <key>pointid</key>
                <string>PHokyuHokyuCkno4</string>
                <key>waitsec</key>
                <integer>1</integer>
            </dict>
            <dict>
                <key>repeat</key>
                <integer>0</integer>
                <key>isClick</key>
                <true/>
                <key>pointid</key>
                <string>PHokyuHokyuHkall</string>
                <key>waitsec</key>
                <integer>1</integer>
            </dict>
            <dict>
                <key>repeat</key>
                <integer>0</integer>
                <key>isClick</key>
                <true/>
                <key>pointid</key>
                <string>PHokyuHokyuCkno5</string>
                <key>waitsec</key>
                <integer>1</integer>
            </dict>
            <dict>
                <key>repeat</key>
                <integer>0</integer>
                <key>isClick</key>
                <true/>
                <key>pointid</key>
                <string>PHokyuHokyuHknry</string>
                <key>waitsec</key>
                <integer>1</integer>
            </dict>
            <dict>
                <key>repeat</key>
                <integer>0</integer>
                <key>isClick</key>
                <true/>
                <key>pointid</key>
                <string>PHokyuHokyuCkno5</string>
                <key>waitsec</key>
                <integer>1</integer>
            </dict>
            <dict>
                <key>repeat</key>
                <integer>0</integer>
                <key>isClick</key>
                <true/>
                <key>pointid</key>
                <string>PHokyuHokyuHkall</string>
                <key>waitsec</key>
                <integer>1</integer>
            </dict>
            <dict>
                <key>repeat</key>
                <integer>0</integer>
                <key>isClick</key>
                <true/>
                <key>pointid</key>
                <string>PHokyuHokyuCkno6</string>
                <key>waitsec</key>
                <integer>1</integer>
            </dict>
            <dict>
                <key>repeat</key>
                <integer>0</integer>
                <key>isClick</key>
                <true/>
                <key>pointid</key>
                <string>PHokyuHokyuHknry</string>
                <key>waitsec</key>
                <integer>1</integer>
            </dict>
            <dict>
                <key>repeat</key>
                <integer>0</integer>
                <key>isClick</key>
                <true/>
                <key>pointid</key>
                <string>PHokyuHokyuCkno6</string>
                <key>waitsec</key>
                <integer>1</integer>
            </dict>
            <dict>
                <key>repeat</key>
                <integer>0</integer>
                <key>isClick</key>
                <true/>
                <key>pointid</key>
                <string>PHokyuHokyuHkall</string>
                <key>waitsec</key>
                <integer>1</integer>
            </dict>
        </array>
        <key>macroKeybind</key>
        <string>@oi</string>
    </dict>
	<dict>
		<key>macroCategory</key>
		<string>Bokou</string>
		<key>modeid</key>
		<string>ModeKitai</string>
		<key>macroid</key>
		<string>KshouKitai</string>
		<key>macroName</key>
		<string>解体</string>
		<key>macroDispState</key>
		<true/>
		<key>macroOperation</key>
		<array>
			<dict>
				<key>repeat</key>
				<integer>0</integer>
				<key>isClick</key>
				<true/>
				<key>pointid</key>
				<string>PSmenuComonKshou</string>
				<key>waitsec</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>repeat</key>
				<integer>0</integer>
				<key>isClick</key>
				<true/>
				<key>pointid</key>
				<string>PKoshoKoshoKitai</string>
				<key>waitsec</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>repeat</key>
				<integer>0</integer>
				<key>isClick</key>
				<true/>
				<key>pointid</key>
				<string>PKoshoKitaiID01</string>
				<key>waitsec</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>repeat</key>
				<integer>0</integer>
				<key>isClick</key>
				<false/>
				<key>pointid</key>
				<string>PKoshoKitaiKitai</string>
				<key>waitsec</key>
				<integer>0</integer>
			</dict>
		</array>
		<key>macroKeybind</key>
		<string>@kt</string>
	</dict>
	<dict>
		<key>macroCategory</key>
		<string>Khatu</string>
		<key>modeid</key>
		<string>ModeKhatu</string>
		<key>macroid</key>
		<string>KoshoRysei</string>
		<key>macroName</key>
		<string>流星改</string>
		<key>macroDispState</key>
		<true/>
		<key>macroOperation</key>
		<array>
			<dict>
				<key>repeat</key>
				<integer>0</integer>
				<key>isClick</key>
				<true/>
				<key>pointid</key>
				<string>PKoshoKoshoKhatu</string>
				<key>waitsec</key>
				<real>1.3</real>
			</dict>
			<dict>
				<key>repeat</key>
				<integer>0</integer>
				<key>isClick</key>
				<true/>
				<key>pointid</key>
				<string>PKoshoSizaiNrypx</string>
				<key>waitsec</key>
				<real>0.3</real>
			</dict>
			<dict>
				<key>repeat</key>
				<integer>5</integer>
				<key>isClick</key>
				<true/>
				<key>pointid</key>
				<string>PKoshoSizaiDnkpx</string>
				<key>waitsec</key>
				<real>0.3</real>
			</dict>
			<dict>
				<key>repeat</key>
				<integer>2</integer>
				<key>isClick</key>
				<true/>
				<key>pointid</key>
				<string>PKoshoSizaiKzipx</string>
				<key>waitsec</key>
				<real>0.3</real>
			</dict>
			<dict>
				<key>repeat</key>
				<integer>0</integer>
				<key>isClick</key>
				<true/>
				<key>pointid</key>
				<string>PKoshoSizaiBokph</string>
				<key>waitsec</key>
				<real>0.3</real>
			</dict>
			<dict>
				<key>repeat</key>
				<integer>0</integer>
				<key>isClick</key>
				<false/>
				<key>pointid</key>
				<string>PKoshoKitaiKitai</string>
				<key>waitsec</key>
				<real>0</real>
			</dict>
		</array>
		<key>macroKeybind</key>
		<string>@rsei</string>
	</dict>
	<dict>
		<key>macroCategory</key>
		<string>Khatu</string>
		<key>modeid</key>
		<string>ModeKhatu</string>
		<key>macroid</key>
		<string>KoshoReppu</string>
		<key>macroName</key>
		<string>烈風</string>
		<key>macroDispState</key>
		<true/>
		<key>macroOperation</key>
		<array>
			<dict>
				<key>repeat</key>
				<integer>0</integer>
				<key>isClick</key>
				<true/>
				<key>pointid</key>
				<string>PKoshoKoshoKhatu</string>
				<key>waitsec</key>
				<real>1.3</real>
			</dict>
			<dict>
				<key>repeat</key>
				<integer>0</integer>
				<key>isClick</key>
				<true/>
				<key>pointid</key>
				<string>PKoshoSizaiNrypx</string>
				<key>waitsec</key>
				<real>0.3</real>
			</dict>
			<dict>
				<key>repeat</key>
				<integer>5</integer>
				<key>isClick</key>
				<true/>
				<key>pointid</key>
				<string>PKoshoSizaiDnkpx</string>
				<key>waitsec</key>
				<real>0.3</real>
			</dict>
			<dict>
				<key>repeat</key>
				<integer>0</integer>
				<key>isClick</key>
				<true/>
				<key>pointid</key>
				<string>PKoshoSizaiBokph</string>
				<key>waitsec</key>
				<real>0.3</real>
			</dict>
			<dict>
				<key>repeat</key>
				<integer>0</integer>
				<key>isClick</key>
				<true/>
				<key>pointid</key>
				<string>PKoshoSizaiBokmx</string>
				<key>waitsec</key>
				<real>0.3</real>
			</dict>
			<dict>
				<key>repeat</key>
				<integer>0</integer>
				<key>isClick</key>
				<false/>
				<key>pointid</key>
				<string>PKoshoKitaiKitai</string>
				<key>waitsec</key>
				<real>0</real>
			</dict>
		</array>
		<key>macroKeybind</key>
		<string>@rep</string>
	</dict>
	<dict>
		<key>macroCategory</key>
		<string>Khatu</string>
		<key>modeid</key>
		<string>ModeKhatu</string>
		<key>macroid</key>
		<string>KoshoSonor</string>
		<key>macroName</key>
		<string>三式ソナー爆雷</string>
		<key>macroDispState</key>
		<true/>
		<key>macroOperation</key>
		<array>
			<dict>
				<key>repeat</key>
				<integer>0</integer>
				<key>isClick</key>
				<true/>
				<key>pointid</key>
				<string>PKoshoKoshoKhatu</string>
				<key>waitsec</key>
				<real>1.3</real>
			</dict>
			<dict>
				<key>repeat</key>
				<integer>2</integer>
				<key>isClick</key>
				<true/>
				<key>pointid</key>
				<string>PKoshoSizaiDnkpx</string>
				<key>waitsec</key>
				<real>0.3</real>
			</dict>
			<dict>
				<key>repeat</key>
				<integer>2</integer>
				<key>isClick</key>
				<true/>
				<key>pointid</key>
				<string>PKoshoSizaiBokpx</string>
				<key>waitsec</key>
				<real>0.3</real>
			</dict>
			<dict>
				<key>repeat</key>
				<integer>0</integer>
				<key>isClick</key>
				<true/>
				<key>pointid</key>
				<string>PKoshoSizaiBokp1</string>
				<key>waitsec</key>
				<real>0.3</real>
			</dict>
			<dict>
				<key>repeat</key>
				<integer>0</integer>
				<key>isClick</key>
				<false/>
				<key>pointid</key>
				<string>PKoshoKitaiKitai</string>
				<key>waitsec</key>
				<real>0</real>
			</dict>
		</array>
		<key>macroKeybind</key>
		<string>@sans</string>
	</dict>
	<dict>
		<key>macroCategory</key>
		<string>Khatu</string>
		<key>modeid</key>
		<string>ModeKhatu</string>
		<key>macroid</key>
		<string>KoshoKansk</string>
		<key>macroName</key>
		<string>零式水上観測機</string>
		<key>macroDispState</key>
		<true/>
		<key>macroOperation</key>
		<array>
			<dict>
				<key>repeat</key>
				<integer>0</integer>
				<key>isClick</key>
				<true/>
				<key>pointid</key>
				<string>PKoshoKoshoKhatu</string>
				<key>waitsec</key>
				<real>1.3</real>
			</dict>
			<dict>
				<key>repeat</key>
				<integer>0</integer>
				<key>isClick</key>
				<true/>
				<key>pointid</key>
				<string>PKoshoSizaiKzipx</string>
				<key>waitsec</key>
				<real>0.3</real>
			</dict>
			<dict>
				<key>repeat</key>
				<integer>0</integer>
				<key>isClick</key>
				<true/>
				<key>pointid</key>
				<string>PKoshoSizaiBokpx</string>
				<key>waitsec</key>
				<real>0.3</real>
			</dict>
			<dict>
				<key>repeat</key>
				<integer>0</integer>
				<key>isClick</key>
				<false/>
				<key>pointid</key>
				<string>PKoshoKitaiKitai</string>
				<key>waitsec</key>
				<real>0</real>
			</dict>
		</array>
		<key>macroKeybind</key>
		<string>@zero</string>
	</dict>
	<dict>
		<key>macroCategory</key>
		<string>Khatu</string>
		<key>modeid</key>
		<string>ModeKhatu</string>
		<key>macroid</key>
		<string>Kosho46sik</string>
		<key>macroName</key>
		<string>46cm三連装砲</string>
		<key>macroDispState</key>
		<true/>
		<key>macroOperation</key>
		<array>
			<dict>
				<key>repeat</key>
				<integer>0</integer>
				<key>isClick</key>
				<true/>
				<key>pointid</key>
				<string>PKoshoKoshoKhatu</string>
				<key>waitsec</key>
				<real>1.3</real>
			</dict>
			<dict>
				<key>repeat</key>
				<integer>2</integer>
				<key>isClick</key>
				<true/>
				<key>pointid</key>
				<string>PKoshoSizaiDnkph</string>
				<key>waitsec</key>
				<real>0.3</real>
			</dict>
			<dict>
				<key>repeat</key>
				<integer>4</integer>
				<key>isClick</key>
				<true/>
				<key>pointid</key>
				<string>PKoshoSizaiDnkpx</string>
				<key>waitsec</key>
				<real>0.3</real>
			</dict>
			<dict>
				<key>repeat</key>
				<integer>0</integer>
				<key>isClick</key>
				<true/>
				<key>pointid</key>
				<string>PKoshoSizaiDnkp1</string>
				<key>waitsec</key>
				<real>0.3</real>
			</dict>
			<dict>
				<key>repeat</key>
				<integer>2</integer>
				<key>isClick</key>
				<true/>
				<key>pointid</key>
				<string>PKoshoSizaiKziph</string>
				<key>waitsec</key>
				<real>0.3</real>
			</dict>
			<dict>
				<key>repeat</key>
				<integer>4</integer>
				<key>isClick</key>
				<true/>
				<key>pointid</key>
				<string>PKoshoSizaiKzipx</string>
				<key>waitsec</key>
				<real>0.3</real>
			</dict>
			<dict>
				<key>repeat</key>
				<integer>0</integer>
				<key>isClick</key>
				<false/>
				<key>pointid</key>
				<string>PKoshoKitaiKitai</string>
				<key>waitsec</key>
				<real>0</real>
			</dict>
		</array>
		<key>macroKeybind</key>
		<string>@46</string>
	</dict>
	<dict>
		<key>macroCategory</key>
		<string>Khatu</string>
		<key>modeid</key>
		<string>ModeKhatu</string>
		<key>macroid</key>
		<string>KoshoTekko</string>
		<key>macroName</key>
		<string>徹甲弾</string>
		<key>macroDispState</key>
		<true/>
		<key>macroOperation</key>
		<array>
			<dict>
				<key>repeat</key>
				<integer>0</integer>
				<key>isClick</key>
				<true/>
				<key>pointid</key>
				<string>PKoshoKoshoKhatu</string>
				<key>waitsec</key>
				<real>1.3</real>
			</dict>
			<dict>
				<key>repeat</key>
				<integer>2</integer>
				<key>isClick</key>
				<true/>
				<key>pointid</key>
				<string>PKoshoSizaiDnkpx</string>
				<key>waitsec</key>
				<real>0.3</real>
			</dict>
			<dict>
				<key>repeat</key>
				<integer>8</integer>
				<key>isClick</key>
				<true/>
				<key>pointid</key>
				<string>PKoshoSizaiKzipx</string>
				<key>waitsec</key>
				<real>0.3</real>
			</dict>
			<dict>
				<key>repeat</key>
				<integer>0</integer>
				<key>isClick</key>
				<false/>
				<key>pointid</key>
				<string>PKoshoKitaiKitai</string>
				<key>waitsec</key>
				<real>0</real>
			</dict>
		</array>
		<key>macroKeybind</key>
		<string>@teko</string>
	</dict>
	<dict>
		<key>macroCategory</key>
		<string>Khatu</string>
		<key>modeid</key>
		<string>ModeKhatu</string>
		<key>macroid</key>
		<string>KoshoDentn</string>
		<key>macroName</key>
		<string>電探複合レシピ</string>
		<key>macroDispState</key>
		<true/>
		<key>macroOperation</key>
		<array>
			<dict>
				<key>repeat</key>
				<integer>0</integer>
				<key>isClick</key>
				<true/>
				<key>pointid</key>
				<string>PKoshoKoshoKhatu</string>
				<key>waitsec</key>
				<real>1.3</real>
			</dict>
			<dict>
				<key>repeat</key>
				<integer>0</integer>
				<key>isClick</key>
				<true/>
				<key>pointid</key>
				<string>PKoshoSizaiNryph</string>
				<key>waitsec</key>
				<real>0.3</real>
			</dict>
			<dict>
				<key>repeat</key>
				<integer>0</integer>
				<key>isClick</key>
				<true/>
				<key>pointid</key>
				<string>PKoshoSizaiNrymx</string>
				<key>waitsec</key>
				<real>0.3</real>
			</dict>
			<dict>
				<key>repeat</key>
				<integer>0</integer>
				<key>isClick</key>
				<true/>
				<key>pointid</key>
				<string>PKoshoSizaiDnkph</string>
				<key>waitsec</key>
				<real>0.3</real>
			</dict>
			<dict>
				<key>repeat</key>
				<integer>2</integer>
				<key>isClick</key>
				<true/>
				<key>pointid</key>
				<string>PKoshoSizaiDnkmx</string>
				<key>waitsec</key>
				<real>0.3</real>
			</dict>
			<dict>
				<key>repeat</key>
				<integer>2</integer>
				<key>isClick</key>
				<true/>
				<key>pointid</key>
				<string>PKoshoSizaiKziph</string>
				<key>waitsec</key>
				<real>0.3</real>
			</dict>
			<dict>
				<key>repeat</key>
				<integer>4</integer>
				<key>isClick</key>
				<true/>
				<key>pointid</key>
				<string>PKoshoSizaiKzipx</string>
				<key>waitsec</key>
				<real>0.3</real>
			</dict>
			<dict>
				<key>repeat</key>
				<integer>0</integer>
				<key>isClick</key>
				<true/>
				<key>pointid</key>
				<string>PKoshoSizaiKzip1</string>
				<key>waitsec</key>
				<real>0.3</real>
			</dict>
			<dict>
				<key>repeat</key>
				<integer>2</integer>
				<key>isClick</key>
				<true/>
				<key>pointid</key>
				<string>PKoshoSizaiBokph</string>
				<key>waitsec</key>
				<real>0.3</real>
			</dict>
			<dict>
				<key>repeat</key>
				<integer>4</integer>
				<key>isClick</key>
				<true/>
				<key>pointid</key>
				<string>PKoshoSizaiBokpx</string>
				<key>waitsec</key>
				<real>0.3</real>
			</dict>
			<dict>
				<key>repeat</key>
				<integer>0</integer>
				<key>isClick</key>
				<false/>
				<key>pointid</key>
				<string>PKoshoKitaiKitai</string>
				<key>waitsec</key>
				<real>0</real>
			</dict>
		</array>
		<key>macroKeybind</key>
		<string>@dent</string>
	</dict>
</array>
</plist>
