<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <dict>
        <key>macroCategory</key>
        <string>Shtgk</string>
        <key>modeid</key>
        <string>ModeNormal</string>
        <key>macroid</key>
        <string>ShtgkTanju</string>
        <key>macroName</key>
        <string>単従陣</string>
        <key>macroDispState</key>
        <true/>
        <key>macroOperation</key>
        <array>
            <dict>
                <key>repeat</key>
                <integer>12</integer>
                <key>isClick</key>
                <true/>
                <key>pointid</key>
                <string>PShtgkSentoTanju</string>
                <key>waitsec</key>
                <integer>1</integer>
            </dict>
        </array>
        <key>macroKeybind</key>
        <string>@r</string>
    </dict>
    <dict>
        <key>macroCategory</key>
        <string>Shtgk</string>
        <key>modeid</key>
        <string>ModeNormal</string>
        <key>macroid</key>
        <string>ShtgkHukju</string>
        <key>macroName</key>
        <string>複縦陣</string>
        <key>macroDispState</key>
        <true/>
        <key>macroOperation</key>
        <array>
            <dict>
                <key>repeat</key>
                <integer>12</integer>
                <key>isClick</key>
                <true/>
                <key>pointid</key>
                <string>PShtgkSentoHukju</string>
                <key>waitsec</key>
                <integer>1</integer>
            </dict>
        </array>
        <key>macroKeybind</key>
        <string>@hk</string>
    </dict>
    <dict>
        <key>macroCategory</key>
        <string>Shtgk</string>
        <key>modeid</key>
        <string>ModeNormal</string>
        <key>macroid</key>
        <string>ShtgkRnkei</string>
        <key>macroName</key>
        <string>輪形陣</string>
        <key>macroDispState</key>
        <true/>
        <key>macroOperation</key>
        <array>
            <dict>
                <key>repeat</key>
                <integer>12</integer>
                <key>isClick</key>
                <true/>
                <key>pointid</key>
                <string>PShtgkSentoRnkei</string>
                <key>waitsec</key>
                <integer>1</integer>
            </dict>
        </array>
        <key>macroKeybind</key>
        <string>@hk</string>
    </dict>
    <dict>
        <key>macroCategory</key>
        <string>Shtgk</string>
        <key>modeid</key>
        <string>ModeNormal</string>
        <key>macroid</key>
        <string>ShtgkTekei</string>
        <key>macroName</key>
        <string>梯形陣</string>
        <key>macroDispState</key>
        <true/>
        <key>macroOperation</key>
        <array>
            <dict>
                <key>repeat</key>
                <integer>12</integer>
                <key>isClick</key>
                <true/>
                <key>pointid</key>
                <string>PShtgkSentoTekei</string>
                <key>waitsec</key>
                <integer>1</integer>
            </dict>
        </array>
        <key>macroKeybind</key>
        <string>@tk</string>
    </dict>
    <dict>
        <key>macroCategory</key>
        <string>Shtgk</string>
        <key>modeid</key>
        <string>ModeNormal</string>
        <key>macroid</key>
        <string>ShtgkTanou</string>
        <key>macroName</key>
        <string>単横陣</string>
        <key>macroDispState</key>
        <true/>
        <key>macroOperation</key>
        <array>
            <dict>
                <key>repeat</key>
                <integer>12</integer>
                <key>isClick</key>
                <true/>
                <key>pointid</key>
                <string>PShtgkSentoTanou</string>
                <key>waitsec</key>
                <integer>1</integer>
            </dict>
        </array>
        <key>macroKeybind</key>
        <string>@to</string>
    </dict>
    <dict>
        <key>macroCategory</key>
        <string>Shtgk</string>
        <key>modeid</key>
        <string>ModeNormal</string>
        <key>macroid</key>
        <string>ShtgkTanjuPlus</string>
        <key>macroName</key>
        <string>単従陣＋</string>
        <key>macroDispState</key>
        <true/>
        <key>macroOperation</key>
        <array>
            <dict>
                <key>repeat</key>
                <integer>0</integer>
                <key>isClick</key>
                <true/>
                <key>pointid</key>
                <string>PShtgkShtgkKaisi</string>
                <key>waitsec</key>
                <real>5</real>
            </dict>
            <dict>
                <key>repeat</key>
                <integer>2</integer>
                <key>isClick</key>
                <true/>
                <key>pointid</key>
                <string>PShtgkSentoTanju</string>
                <key>waitsec</key>
                <integer>1</integer>
            </dict>
            <dict>
                <key>repeat</key>
                <integer>0</integer>
                <key>isClick</key>
                <true/>
                <key>pointid</key>
                <string>PShtgkSentoTanju</string>
                <key>waitsec</key>
                <integer>6</integer>
            </dict>
            <dict>
                <key>repeat</key>
                <integer>4</integer>
                <key>isClick</key>
                <true/>
                <key>pointid</key>
                <string>PShtgkSentoTanju</string>
                <key>waitsec</key>
                <integer>1</integer>
            </dict>
        </array>
        <key>macroKeybind</key>
        <string>@rp</string>
    </dict>
    <dict>
        <key>macroCategory</key>
        <string>Shtgk</string>
        <key>modeid</key>
        <string>ModeNormal</string>
        <key>macroid</key>
        <string>ShtgkTusez</string>
        <key>macroName</key>
        <string>追撃せず</string>
        <key>macroDispState</key>
        <true/>
        <key>macroOperation</key>
        <array>
            <dict>
                <key>repeat</key>
                <integer>3</integer>
                <key>isClick</key>
                <true/>
                <key>pointid</key>
                <string>PShtgkSentoSngki</string>
                <key>waitsec</key>
                <integer>1</integer>
            </dict>
        </array>
        <key>macroKeybind</key>
        <string>@g</string>
    </dict>
    <dict>
        <key>macroCategory</key>
        <string>Shtgk</string>
        <key>modeid</key>
        <string>ModeNormal</string>
        <key>macroid</key>
        <string>ShtgkYasen</string>
        <key>macroName</key>
        <string>夜戦</string>
        <key>macroDispState</key>
        <true/>
        <key>macroOperation</key>
        <array>
            <dict>
                <key>repeat</key>
                <integer>3</integer>
                <key>isClick</key>
                <true/>
                <key>pointid</key>
                <string>PShtgkSentoTetai</string>
                <key>waitsec</key>
                <integer>1</integer>
            </dict>
        </array>
        <key>macroKeybind</key>
        <string>@n</string>
    </dict>
    <dict>
        <key>macroCategory</key>
        <string>Shtgk</string>
        <key>modeid</key>
        <string>ModeNormal</string>
        <key>macroid</key>
        <string>ShtgkSngki</string>
        <key>macroName</key>
        <string>進撃</string>
        <key>macroDispState</key>
        <true/>
        <key>macroOperation</key>
        <array>
            <dict>
                <key>repeat</key>
                <integer>17</integer>
                <key>isClick</key>
                <true/>
                <key>pointid</key>
                <string>PShtgkSentoSngki</string>
                <key>waitsec</key>
                <integer>1</integer>
            </dict>
        </array>
        <key>macroKeybind</key>
        <string>@s</string>
    </dict>
    <dict>
        <key>macroCategory</key>
        <string>Shtgk</string>
        <key>modeid</key>
        <string>ModeNormal</string>
        <key>macroid</key>
        <string>ShtgkTetai</string>
        <key>macroName</key>
        <string>撤退</string>
        <key>macroDispState</key>
        <true/>
        <key>macroOperation</key>
        <array>
            <dict>
                <key>repeat</key>
                <integer>7</integer>
                <key>isClick</key>
                <true/>
                <key>pointid</key>
                <string>PShtgkSentoTetai</string>
                <key>waitsec</key>
                <integer>1</integer>
            </dict>
        </array>
        <key>macroKeybind</key>
        <string>@t</string>
    </dict>
    <dict>
        <key>macroCategory</key>
        <string>Shtgk</string>
        <key>modeid</key>
        <string>ModeNormal</string>
        <key>macroid</key>
        <string>ShtgkRetun</string>
        <key>macroName</key>
        <string>追撃せず撤退</string>
        <key>macroDispState</key>
        <true/>
        <key>macroOperation</key>
        <array>
            <dict>
                <key>repeat</key>
                <integer>1</integer>
                <key>isClick</key>
                <true/>
                <key>pointid</key>
                <string>PShtgkSentoSngki</string>
                <key>waitsec</key>
                <integer>1</integer>
            </dict>
            <dict>
                <key>repeat</key>
                <integer>0</integer>
                <key>isClick</key>
                <true/>
                <key>pointid</key>
                <string>PShtgkSentoTetai</string>
                <key>waitsec</key>
                <integer>5</integer>
            </dict>
            <dict>
                <key>repeat</key>
                <integer>8</integer>
                <key>isClick</key>
                <true/>
                <key>pointid</key>
                <string>PShtgkSentoTetai</string>
                <key>waitsec</key>
                <integer>1</integer>
            </dict>
        </array>
        <key>macroKeybind</key>
        <string>@tt</string>
    </dict>
</array>
</plist>
