<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <dict>
        <key>macroCategory</key>
        <string>Kbuki</string>
        <key>modeid</key>
        <string>ModeKbuki</string>
        <key>macroid</key>
        <string>KaisoSknsn</string>
        <key>macroName</key>
        <string>改装艦戦ソート</string>
        <key>macroDispState</key>
        <true/>
        <key>macroOperation</key>
        <array>
            <dict>
                <key>repeat</key>
                <integer>0</integer>
                <key>isClick</key>
                <true/>
                <key>pointid</key>
                <string>PKaisoSoubiSort</string>
                <key>waitsec</key>
                <real>0.3</real>
            </dict>
            <dict>
                <key>repeat</key>
                <integer>0</integer>
                <key>isClick</key>
                <true/>
                <key>pointid</key>
                <string>PKaisoSoubiSknsn</string>
                <key>waitsec</key>
                <integer>0</integer>
            </dict>
        </array>
        <key>macroKeybind</key>
        <string>@jj</string>
    </dict>
    <dict>
        <key>macroCategory</key>
        <string>Kbuki</string>
        <key>modeid</key>
        <string>ModeKbuki</string>
        <key>macroid</key>
        <string>KaisoSknbk</string>
        <key>macroName</key>
        <string>改装艦爆ソート</string>
        <key>macroDispState</key>
        <true/>
        <key>macroOperation</key>
        <array>
            <dict>
                <key>repeat</key>
                <integer>0</integer>
                <key>isClick</key>
                <true/>
                <key>pointid</key>
                <string>PKaisoSoubiSort</string>
                <key>waitsec</key>
                <real>0.3</real>
            </dict>
            <dict>
                <key>repeat</key>
                <integer>0</integer>
                <key>isClick</key>
                <true/>
                <key>pointid</key>
                <string>PKaisoSoubiSknbk</string>
                <key>waitsec</key>
                <integer>0</integer>
            </dict>
        </array>
        <key>macroKeybind</key>
        <string>@jk</string>
    </dict>
    <dict>
        <key>macroCategory</key>
        <string>Kbuki</string>
        <key>modeid</key>
        <string>ModeKbuki</string>
        <key>macroid</key>
        <string>KaisoSteis</string>
        <key>macroName</key>
        <string>改装偵察ソート</string>
        <key>macroDispState</key>
        <true/>
        <key>macroOperation</key>
        <array>
            <dict>
                <key>repeat</key>
                <integer>0</integer>
                <key>isClick</key>
                <true/>
                <key>pointid</key>
                <string>PKaisoSoubiSort</string>
                <key>waitsec</key>
                <real>0.3</real>
            </dict>
            <dict>
                <key>repeat</key>
                <integer>0</integer>
                <key>isClick</key>
                <true/>
                <key>pointid</key>
                <string>PKaisoSoubiSteis</string>
                <key>waitsec</key>
                <integer>0</integer>
            </dict>
        </array>
        <key>macroKeybind</key>
        <string>@jl</string>
    </dict>
    <dict>
        <key>macroCategory</key>
        <string>Kbuki</string>
        <key>modeid</key>
        <string>ModeKbuki</string>
        <key>macroid</key>
        <string>KaisoSshho</string>
        <key>macroName</key>
        <string>改装主砲ソート</string>
        <key>macroDispState</key>
        <true/>
        <key>macroOperation</key>
        <array>
            <dict>
                <key>repeat</key>
                <integer>0</integer>
                <key>isClick</key>
                <true/>
                <key>pointid</key>
                <string>PKaisoSoubiSort</string>
                <key>waitsec</key>
                <real>0.3</real>
            </dict>
            <dict>
                <key>repeat</key>
                <integer>0</integer>
                <key>isClick</key>
                <true/>
                <key>pointid</key>
                <string>PKaisoSoubiSshho</string>
                <key>waitsec</key>
                <integer>0</integer>
            </dict>
        </array>
        <key>macroKeybind</key>
        <string>@jg</string>
    </dict>
    <dict>
        <key>macroCategory</key>
        <string>Kbuki</string>
        <key>modeid</key>
        <string>ModeKbuki</string>
        <key>macroid</key>
        <string>KaisoShkho</string>
        <key>macroName</key>
        <string>改装副砲ソート</string>
        <key>macroDispState</key>
        <true/>
        <key>macroOperation</key>
        <array>
            <dict>
                <key>repeat</key>
                <integer>0</integer>
                <key>isClick</key>
                <true/>
                <key>pointid</key>
                <string>PKaisoSoubiSort</string>
                <key>waitsec</key>
                <real>0.3</real>
            </dict>
            <dict>
                <key>repeat</key>
                <integer>0</integer>
                <key>isClick</key>
                <true/>
                <key>pointid</key>
                <string>PKaisoSoubiShkho</string>
                <key>waitsec</key>
                <integer>0</integer>
            </dict>
        </array>
        <key>macroKeybind</key>
        <string>@jf</string>
    </dict>
    <dict>
        <key>macroCategory</key>
        <string>Kbuki</string>
        <key>modeid</key>
        <string>ModeKbuki</string>
        <key>macroid</key>
        <string>KaisoSgrai</string>
        <key>macroName</key>
        <string>改装魚雷ソート</string>
        <key>macroDispState</key>
        <true/>
        <key>macroOperation</key>
        <array>
            <dict>
                <key>repeat</key>
                <integer>0</integer>
                <key>isClick</key>
                <true/>
                <key>pointid</key>
                <string>PKaisoSoubiSort</string>
                <key>waitsec</key>
                <real>0.3</real>
            </dict>
            <dict>
                <key>repeat</key>
                <integer>0</integer>
                <key>isClick</key>
                <true/>
                <key>pointid</key>
                <string>PKaisoSoubiSgrai</string>
                <key>waitsec</key>
                <integer>0</integer>
            </dict>
        </array>
        <key>macroKeybind</key>
        <string>@jd</string>
    </dict>
    <dict>
        <key>macroCategory</key>
        <string>Kbuki</string>
        <key>modeid</key>
        <string>ModeKbuki</string>
        <key>macroid</key>
        <string>KaisoSsonr</string>
        <key>macroName</key>
        <string>改装ソナーソート</string>
        <key>macroDispState</key>
        <true/>
        <key>macroOperation</key>
        <array>
            <dict>
                <key>repeat</key>
                <integer>0</integer>
                <key>isClick</key>
                <true/>
                <key>pointid</key>
                <string>PKaisoSoubiSort</string>
                <key>waitsec</key>
                <real>0.3</real>
            </dict>
            <dict>
                <key>repeat</key>
                <integer>0</integer>
                <key>isClick</key>
                <true/>
                <key>pointid</key>
                <string>PKaisoSoubiSsonr</string>
                <key>waitsec</key>
                <integer>0</integer>
            </dict>
        </array>
        <key>macroKeybind</key>
        <string>@js</string>
    </dict>
    <dict>
        <key>macroCategory</key>
        <string>Kbuki</string>
        <key>modeid</key>
        <string>ModeKbuki</string>
        <key>macroid</key>
        <string>KaisoSdntn</string>
        <key>macroName</key>
        <string>改装電探ソート</string>
        <key>macroDispState</key>
        <true/>
        <key>macroOperation</key>
        <array>
            <dict>
                <key>repeat</key>
                <integer>0</integer>
                <key>isClick</key>
                <true/>
                <key>pointid</key>
                <string>PKaisoSoubiSort</string>
                <key>waitsec</key>
                <real>0.3</real>
            </dict>
            <dict>
                <key>repeat</key>
                <integer>0</integer>
                <key>isClick</key>
                <true/>
                <key>pointid</key>
                <string>PKaisoSoubiSdntn</string>
                <key>waitsec</key>
                <integer>0</integer>
            </dict>
        </array>
        <key>macroKeybind</key>
        <string>@ja</string>
    </dict>
    <dict>
        <key>macroCategory</key>
        <string>Kbuki</string>
        <key>modeid</key>
        <string>ModeKbuki</string>
        <key>macroid</key>
        <string>KaisoSdeft</string>
        <key>macroName</key>
        <string>改装デフォルトソート</string>
        <key>macroDispState</key>
        <true/>
        <key>macroOperation</key>
        <array>
            <dict>
                <key>repeat</key>
                <integer>0</integer>
                <key>isClick</key>
                <true/>
                <key>pointid</key>
                <string>PKaisoSoubiSort</string>
                <key>waitsec</key>
                <real>0.3</real>
            </dict>
            <dict>
                <key>repeat</key>
                <integer>0</integer>
                <key>isClick</key>
                <true/>
                <key>pointid</key>
                <string>PKaisoSoubiSdeft</string>
                <key>waitsec</key>
                <integer>0</integer>
            </dict>
        </array>
        <key>macroKeybind</key>
        <string>@j;</string>
    </dict>
    <dict>
        <key>macroCategory</key>
        <string>Other</string>
        <key>modeid</key>
        <string>ModeNormal</string>
        <key>macroid</key>
        <string>NormalRenzk</string>
        <key>macroName</key>
        <string>連続押し</string>
        <key>macroDispState</key>
        <true/>
        <key>macroOperation</key>
        <array>
            <dict>
                <key>repeat</key>
                <integer>5</integer>
                <key>isClick</key>
                <true/>
                <key>pointid</key>
                <string>PShtgkSentoTetai</string>
                <key>waitsec</key>
                <integer>1</integer>
            </dict>
        </array>
        <key>macroKeybind</key>
        <string>@@</string>
    </dict>
</array>
</plist>
