<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>modeid</key>
		<string>ModeNormal</string>
		<key>modeName</key>
		<string>ノーマルモード</string>
		<key>mode</key>
		<string>:a</string>
	</dict>
    <dict>
        <key>modeid</key>
        <string>ModeShuko</string>
        <key>modeName</key>
        <string>出港モード</string>
        <key>mode</key>
        <string>:sk</string>
    </dict>
	<dict>
		<key>modeid</key>
		<string>ModeShtgk</string>
		<key>modeName</key>
		<string>出撃モード</string>
		<key>mode</key>
		<string>:s</string>
	</dict>
	<dict>
		<key>modeid</key>
		<string>ModeEnshu</string>
		<key>modeName</key>
		<string>演習モード</string>
		<key>mode</key>
		<string>:en</string>
	</dict>
	<dict>
		<key>modeid</key>
		<string>ModeEnsei</string>
		<key>modeName</key>
		<string>遠征モード</string>
		<key>mode</key>
		<string>:se</string>
	</dict>
	<dict>
		<key>modeid</key>
		<string>ModeNinmu</string>
		<key>modeName</key>
		<string>任務モード</string>
		<key>mode</key>
		<string>:i</string>
	</dict>
	<dict>
		<key>modeid</key>
		<string>ModeHnsei</string>
		<key>modeName</key>
		<string>編成モードP</string>
		<key>mode</key>
		<string>:e</string>
	</dict>
	<dict>
		<key>modeid</key>
		<string>ModeHnsev</string>
		<key>modeName</key>
		<string>編成モードV</string>
		<key>mode</key>
		<string>:ev</string>
	</dict>
	<dict>
		<key>modeid</key>
		<string>ModeHokyu</string>
		<key>modeName</key>
		<string>補給モード</string>
		<key>mode</key>
		<string>:o</string>
	</dict>
	<dict>
		<key>modeid</key>
		<string>ModeKaiso</string>
		<key>modeName</key>
		<string>改装モードP</string>
		<key>mode</key>
		<string>:j</string>
	</dict>
	<dict>
		<key>modeid</key>
		<string>ModeKaisv</string>
		<key>modeName</key>
		<string>改装モードV</string>
		<key>mode</key>
		<string>:jv</string>
	</dict>
	<dict>
		<key>modeid</key>
		<string>ModeKbuki</string>
		<key>modeName</key>
		<string>改装武器モード</string>
		<key>mode</key>
		<string>:b</string>
	</dict>
	<dict>
		<key>modeid</key>
		<string>ModeKkndi</string>
		<key>modeName</key>
		<string>改装近代化改修モードP</string>
		<key>mode</key>
		<string>:u</string>
	</dict>
	<dict>
		<key>modeid</key>
		<string>ModeKkndv</string>
		<key>modeName</key>
		<string>改装近代化改修モードV</string>
		<key>mode</key>
		<string>:uv</string>
	</dict>
	<dict>
		<key>modeid</key>
		<string>ModeNykyo</string>
		<key>modeName</key>
		<string>入渠モードP</string>
		<key>mode</key>
		<string>:n</string>
	</dict>
	<dict>
		<key>modeid</key>
		<string>ModeNykyv</string>
		<key>modeName</key>
		<string>入渠モードV</string>
		<key>mode</key>
		<string>:nv</string>
	</dict>
	<dict>
		<key>modeid</key>
		<string>ModeKenzo</string>
		<key>modeName</key>
		<string>建造モード</string>
		<key>mode</key>
		<string>:k</string>
	</dict>
	<dict>
		<key>modeid</key>
		<string>ModeKitai</string>
		<key>modeName</key>
		<string>解体モード</string>
		<key>mode</key>
		<string>:t</string>
	</dict>
	<dict>
		<key>modeid</key>
		<string>ModeKhatu</string>
		<key>modeName</key>
		<string>開発モード</string>
		<key>mode</key>
		<string>:d</string>
	</dict>
	<dict>
		<key>modeid</key>
		<string>ModeHaiki</string>
		<key>modeName</key>
		<string>廃棄モード</string>
		<key>mode</key>
		<string>:r</string>
	</dict>
</array>
</plist>
