<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <dict>
            <key>pointid</key>
            <string>PMainBokouBokou</string>
            <key>modeid</key>
            <string>ModeNormal</string>
						<key>backmode</key>
						<false/>
        </dict>
        <dict>
            <key>pointid</key>
            <string>PSmenuComonBokou</string>
            <key>modeid</key>
            <string>ModeNormal</string>
						<key>backmode</key>
						<false/>
        </dict>
        <dict>
            <key>pointid</key>
            <string>PMainComonBack</string>
            <key>modeid</key>
            <string>ModeNormal</string>
						<key>backmode</key>
						<false/>
        </dict>
        <dict>
            <key>pointid</key>
            <string>PMainBokouHnsei</string>
            <key>modeid</key>
            <string>ModeHnsei</string>
						<key>backmode</key>
						<false/>
        </dict>
        <dict>
            <key>pointid</key>
            <string>PMainBokouKaiso</string>
            <key>modeid</key>
            <string>ModeKaiso</string>
						<key>backmode</key>
						<false/>
        </dict>
        <dict>
            <key>pointid</key>
            <string>PMainBokouKshou</string>
            <key>modeid</key>
            <string>ModeKenzo</string>
						<key>backmode</key>
						<false/>
        </dict>
        <dict>
            <key>pointid</key>
            <string>PMainBokouNykyo</string>
            <key>modeid</key>
            <string>ModeNykyo</string>
						<key>backmode</key>
						<false/>
        </dict>
        <dict>
            <key>pointid</key>
            <string>PMainBokouHokyu</string>
            <key>modeid</key>
            <string>ModeHokyu</string>
						<key>backmode</key>
						<false/>
        </dict>
        <dict>
            <key>pointid</key>
            <string>PShtgkShtgkShtgk</string>
            <key>modeid</key>
            <string>ModeShtgk</string>
						<key>backmode</key>
						<false/>
        </dict>
        <dict>
            <key>pointid</key>
            <string>PShtgkShtgkEnshu</string>
            <key>modeid</key>
            <string>ModeEnshu</string>
						<key>backmode</key>
						<false/>
        </dict>
        <dict>
            <key>pointid</key>
            <string>PShtgkShtgkEnsei</string>
            <key>modeid</key>
            <string>ModeEnsei</string>
						<key>backmode</key>
						<false/>
        </dict>
        <!-- Mode Shtgk -->
        <dict>
            <key>pointid</key>
            <string>PShtgkSentoTanju</string>
            <key>modeid</key>
            <string>ModeNormal</string>
						<key>backmode</key>
						<false/>
        </dict>
        <dict>
            <key>pointid</key>
            <string>PShtgkSentoHukju</string>
            <key>modeid</key>
            <string>ModeNormal</string>
						<key>backmode</key>
						<false/>
        </dict>
        <dict>
            <key>pointid</key>
            <string>PShtgkSentoRnkei</string>
            <key>modeid</key>
            <string>ModeNormal</string>
						<key>backmode</key>
						<false/>
        </dict>
        <dict>
            <key>pointid</key>
            <string>PShtgkSentoTekei</string>
            <key>modeid</key>
            <string>ModeNormal</string>
						<key>backmode</key>
						<false/>
        </dict>
        <dict>
            <key>pointid</key>
            <string>PShtgkSentoTanou</string>
            <key>modeid</key>
            <string>ModeNormal</string>
						<key>backmode</key>
						<false/>
        </dict>
        <!-- Mode Enshu -->
        <dict>
            <key>pointid</key>
            <string>PShtgkHenk1Shtgk</string>
            <key>modeid</key>
            <string>ModeShtgk</string>
						<key>backmode</key>
						<false/>
        </dict>
        <dict>
            <key>pointid</key>
            <string>PShtgkHenk1Enshu</string>
            <key>modeid</key>
            <string>ModeEnshu</string>
						<key>backmode</key>
						<false/>
        </dict>
        <dict>
            <key>pointid</key>
            <string>PShtgkHenk1Ensei</string>
            <key>modeid</key>
            <string>ModeEnsei</string>
						<key>backmode</key>
						<false/>
        </dict>
        <!-- Mode Ensei -->
        <dict>
            <key>pointid</key>
            <string>PShtgkHenk2Shtgk</string>
            <key>modeid</key>
            <string>ModeShtgk</string>
						<key>backmode</key>
						<false/>
        </dict>
        <dict>
            <key>pointid</key>
            <string>PShtgkHenk2Enshu</string>
            <key>modeid</key>
            <string>ModeEnshu</string>
						<key>backmode</key>
						<false/>
        </dict>
        <dict>
            <key>pointid</key>
            <string>PShtgkHenk2Ensei</string>
            <key>modeid</key>
            <string>ModeEnsei</string>
						<key>backmode</key>
						<false/>
        </dict>
        <!-- Mode Ninmu -->
        <dict>
            <key>pointid</key>
            <string>PMainNinmuQuest</string>
            <key>modeid</key>
            <string>ModeNinmu</string>
						<key>backmode</key>
						<false/>
        </dict>
        <!-- Mode Hensei -->
        <dict>
            <key>pointid</key>
            <string>PHnseiHenkoShip1</string>
            <key>modeid</key>
            <string>ModeHnsev</string>
						<key>backmode</key>
						<false/>
        </dict>
        <dict>
            <key>pointid</key>
            <string>PHnseiHenkoShip2</string>
            <key>modeid</key>
            <string>ModeHnsev</string>
						<key>backmode</key>
						<false/>
        </dict>
        <dict>
            <key>pointid</key>
            <string>PHnseiHenkoShip3</string>
            <key>modeid</key>
            <string>ModeHnsev</string>
						<key>backmode</key>
						<false/>
        </dict>
        <dict>
            <key>pointid</key>
            <string>PHnseiHenkoShip4</string>
            <key>modeid</key>
            <string>ModeHnsev</string>
						<key>backmode</key>
						<false/>
        </dict>
        <dict>
            <key>pointid</key>
            <string>PHnseiHenkoShip5</string>
            <key>modeid</key>
            <string>ModeHnsev</string>
						<key>backmode</key>
						<false/>
        </dict>
        <dict>
            <key>pointid</key>
            <string>PHnseiHenkoShip6</string>
            <key>modeid</key>
            <string>ModeHnsev</string>
						<key>backmode</key>
						<false/>
        </dict>
        <!-- Mode Hensv -->
        <dict>
            <key>pointid</key>
            <string>PHnseiHenkoHazsu</string>
            <key>modeid</key>
            <string>ModeHnsei</string>
						<key>backmode</key>
						<false/>
        </dict>
        <dict>
            <key>pointid</key>
            <string>PHnseiHenkoHenko</string>
            <key>modeid</key>
            <string>ModeHnsei</string>
						<key>backmode</key>
						<false/>
        </dict>
        <dict>
            <key>pointid</key>
            <string>PHnseiHenkoCncel</string>
            <key>modeid</key>
            <string>ModeHnsei</string>
						<key>backmode</key>
						<false/>
        </dict>

        <!-- Mode Kaiso -->
        <dict>
            <key>pointid</key>
            <string>PKaisoHenkoKtai1</string>
            <key>modeid</key>
            <string>ModeKaiso</string>
						<key>backmode</key>
						<false/>
        </dict>
        <dict>
            <key>pointid</key>
            <string>PKaisoHenkoKtai2</string>
            <key>modeid</key>
            <string>ModeKaiso</string>
						<key>backmode</key>
						<false/>
        </dict>
        <dict>
            <key>pointid</key>
            <string>PKaisoHenkoKtai3</string>
            <key>modeid</key>
            <string>ModeKaiso</string>
						<key>backmode</key>
						<false/>
        </dict>
        <dict>
            <key>pointid</key>
            <string>PKaisoHenkoKtai4</string>
            <key>modeid</key>
            <string>ModeKaiso</string>
						<key>backmode</key>
						<false/>
        </dict>
        <dict>
            <key>pointid</key>
            <string>PKaisoHenkoKtai5</string>
            <key>modeid</key>
            <string>ModeKaisv</string>
						<key>backmode</key>
						<false/>
        </dict>
        <dict>
            <key>pointid</key>
            <string>PKaisoSoubiSlot1</string>
            <key>modeid</key>
            <string>ModeKbuki</string>
						<key>backmode</key>
						<false/>
        </dict>
        <dict>
            <key>pointid</key>
            <string>PKaisoSoubiSlot2</string>
            <key>modeid</key>
            <string>ModeKbuki</string>
						<key>backmode</key>
						<false/>
        </dict>
        <dict>
            <key>pointid</key>
            <string>PKaisoSoubiSlot3</string>
            <key>modeid</key>
            <string>ModeKbuki</string>
						<key>backmode</key>
						<false/>
        </dict>
        <dict>
            <key>pointid</key>
            <string>PKaisoSoubiSlot4</string>
            <key>modeid</key>
            <string>ModeKbuki</string>
						<key>backmode</key>
						<false/>
        </dict>
        <dict>
            <key>pointid</key>
            <string>PKaisoKaisoGosei</string>
            <key>modeid</key>
            <string>ModeKkndi</string>
						<key>backmode</key>
						<false/>
        </dict>
        <!-- Mode Ksobi -->
        <dict>
            <key>pointid</key>
            <string>PKaisoSoubiHenko</string>
            <key>modeid</key>
            <string>ModeKaiso</string>
						<key>backmode</key>
						<false/>
        </dict>
        <dict>
            <key>pointid</key>
            <string>PKaisoSoubiCncel</string>
            <key>modeid</key>
            <string>ModeKaiso</string>
						<key>backmode</key>
						<false/>
        </dict>
        <!-- Mode Kidai -->
        <dict>
            <key>pointid</key>
            <string>PKaisoKisyuKtai1</string>
            <key>modeid</key>
            <string>ModeKkndv</string>
						<key>backmode</key>
						<false/>
        </dict>
        <dict>
            <key>pointid</key>
            <string>PKaisoKisyuKtai2</string>
            <key>modeid</key>
            <string>ModeKkndv</string>
						<key>backmode</key>
						<false/>
        </dict>
        <dict>
            <key>pointid</key>
            <string>PKaisoKisyuKtai3</string>
            <key>modeid</key>
            <string>ModeKkndv</string>
						<key>backmode</key>
						<false/>
        </dict>
        <dict>
            <key>pointid</key>
            <string>PKaisoKisyuKtai4</string>
            <key>modeid</key>
            <string>ModeKkndv</string>
						<key>backmode</key>
						<false/>
        </dict>
        <dict>
            <key>pointid</key>
            <string>PKaisoKisyuKtai5</string>
            <key>modeid</key>
            <string>ModeKkndv</string>
						<key>backmode</key>
						<false/>
        </dict>
        <dict>
            <key>pointid</key>
            <string>PKaisoKisyuCncel</string>
            <key>modeid</key>
            <string>ModeKaiso</string>
            <key>backmode</key>
            <true/>
        </dict>
        <!-- PKaisoKisyuID01 -->
        <dict>
            <key>pointid</key>
            <string>PKaisoKisyuID01</string>
            <key>modeid</key>
            <string>ModeKkndi</string>
						<key>backmode</key>
						<false/>
        </dict>
        <dict>
            <key>pointid</key>
            <string>PKaisoKisyuID02</string>
            <key>modeid</key>
            <string>ModeKkndi</string>
						<key>backmode</key>
						<false/>
        </dict>
        <dict>
            <key>pointid</key>
            <string>PKaisoKisyuID03</string>
            <key>modeid</key>
            <string>ModeKkndi</string>
						<key>backmode</key>
						<false/>
        </dict>
        <dict>
            <key>pointid</key>
            <string>PKaisoKisyuID04</string>
            <key>modeid</key>
            <string>ModeKkndi</string>
						<key>backmode</key>
						<false/>
        </dict>
        <dict>
            <key>pointid</key>
            <string>PKaisoKisyuID05</string>
            <key>modeid</key>
            <string>ModeKkndi</string>
						<key>backmode</key>
						<false/>
        </dict>
        <dict>
            <key>pointid</key>
            <string>PKaisoKisyuID06</string>
            <key>modeid</key>
            <string>ModeKkndi</string>
						<key>backmode</key>
						<false/>
        </dict>
        <dict>
            <key>pointid</key>
            <string>PKaisoKisyuID07</string>
            <key>modeid</key>
            <string>ModeKkndi</string>
						<key>backmode</key>
						<false/>
        </dict>
        <dict>
            <key>pointid</key>
            <string>PKaisoKisyuID08</string>
            <key>modeid</key>
            <string>ModeKkndi</string>
						<key>backmode</key>
						<false/>
        </dict>
        <dict>
            <key>pointid</key>
            <string>PKaisoKisyuID09</string>
            <key>modeid</key>
            <string>ModeKkndi</string>
						<key>backmode</key>
						<false/>
        </dict>
        <dict>
            <key>pointid</key>
            <string>PKaisoKisyuID10</string>
            <key>modeid</key>
            <string>ModeKkndi</string>
						<key>backmode</key>
						<false/>
        </dict>
        <dict>
            <key>pointid</key>
            <string>PKaisoKisyuBack</string>
            <key>modeid</key>
            <string>ModeKkndi</string>
            <key>backmode</key>
            <false/>
        </dict>
        <!-- Mode Nykyo -->
        <dict>
            <key>pointid</key>
            <string>PNykyoNykyoDock1</string>
            <key>modeid</key>
            <string>ModeNykyv</string>
						<key>backmode</key>
						<false/>
        </dict>
        <dict>
            <key>pointid</key>
            <string>PNykyoNykyoDock2</string>
            <key>modeid</key>
            <string>ModeNykyv</string>
						<key>backmode</key>
						<false/>
        </dict>
        <dict>
            <key>pointid</key>
            <string>PNykyoNykyoDock3</string>
            <key>modeid</key>
            <string>ModeNykyv</string>
						<key>backmode</key>
						<false/>
        </dict>
        <dict>
            <key>pointid</key>
            <string>PNykyoNykyoDock4</string>
            <key>modeid</key>
            <string>ModeNykyv</string>
						<key>backmode</key>
						<false/>
        </dict>
        <dict>
            <key>pointid</key>
            <string>PNykyoNykyoYes</string>
            <key>modeid</key>
            <string>ModeNykyo</string>
						<key>backmode</key>
						<false/>
        </dict>         
        <dict>
            <key>pointid</key>
            <string>PNykyoNykyoBack</string>
            <key>modeid</key>
            <string>ModeNykyo</string>
						<key>backmode</key>
						<false/>
        </dict>
        <!-- Mode Kenzo -->
        <dict>
            <key>pointid</key>
            <string>PKoshoKoshoKitai</string>
            <key>modeid</key>
            <string>ModeKitai</string>
            <key>backmode</key>
            <false/>
        </dict>
        <dict>
            <key>pointid</key>
            <string>PKoshoKoshoKhatu</string>
            <key>modeid</key>
            <string>ModeKhatu</string>
            <key>backmode</key>
            <false/>
        </dict>
        <dict>
            <key>pointid</key>
            <string>PKoshoKoshoHaiki</string>
            <key>modeid</key>
            <string>ModeHaiki</string>
            <key>backmode</key>
            <false/>
        </dict>
        <dict>
            <key>pointid</key>
            <string>PKoshoKoshoKnzo1</string>
            <key>modeid</key>
            <string>ModeKhatu</string>
            <key>backmode</key>
            <false/>
        </dict>
        <dict>
            <key>pointid</key>
            <string>PKoshoKoshoKnzo2</string>
            <key>modeid</key>
            <string>ModeKhatu</string>
            <key>backmode</key>
            <false/>
        </dict>
        <!-- Mode Kitai -->
        <dict>
            <key>pointid</key>
            <string>PKoshoComonCncel</string>
            <key>modeid</key>
            <string>ModeKenzo</string>
            <key>backmode</key>
            <false/>
        </dict>
        <!-- Mode Khatu -->
        <dict>
            <key>pointid</key>
            <string>PKoshoKenzoStart</string>
            <key>modeid</key>
            <string>ModeKenzo</string>
            <key>backmode</key>
            <false/>
        </dict>
        <!-- Mode Comon -->
        <dict>
            <key>pointid</key>
            <string>PSmenuComonBokou</string>
            <key>modeid</key>
            <string>ModeNormal</string>
            <key>backmode</key>
            <false/>
        </dict>
        <dict>
            <key>pointid</key>
            <string>PSmenuComonHnsei</string>
            <key>modeid</key>
            <string>ModeHnsei</string>
            <key>backmode</key>
            <false/>
        </dict>
        <dict>
            <key>pointid</key>
            <string>PSmenuComonHokyu</string>
            <key>modeid</key>
            <string>ModeHokyu</string>
            <key>backmode</key>
            <false/>
        </dict>
        <dict>
            <key>pointid</key>
            <string>PSmenuComonKaiso</string>
            <key>modeid</key>
            <string>ModeKaiso</string>
            <key>backmode</key>
            <false/>
        </dict>
        <dict>
            <key>pointid</key>
            <string>PSmenuComonNykyo</string>
            <key>modeid</key>
            <string>ModeNykyo</string>
            <key>backmode</key>
            <false/>
        </dict>
        <dict>
            <key>pointid</key>
            <string>PSmenuComonKshou</string>
            <key>modeid</key>
            <string>ModeKenzo</string>
            <key>backmode</key>
            <false/>
        </dict>
    </array>
</plist>
